#
# lombok configuration
#

# prevent lombok to search configs in parent directories
config.stopBubbling = true

# add lombok @Generated annotation, so that jacoco doesn't complain about untested methods
lombok.addLombokGeneratedAnnotation = true

# due to the change in Lombok 1.16.20 it has to be explicitly set to false to make Lombok add `@ConstructorProperties` annotation.
lombok.anyConstructor.suppressConstructorProperties = false

# use Objects.requireNonNull() to implement @NonNull
lombok.nonNull.exceptionType=jdk

# vim:shiftwidth=2 softtabstop=2 expandtab
# EOF
