#
# circleci config.yml
#

# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:11-jdk
    environment:
      TERM: dumb

    steps:
      - checkout

      - restore_cache:
          keys:
          - v3-dependencies-{{ checksum "build.gradle" }}
          - v3-dependencies-

      - run:
          name: Ensure that dig(1) is installed
          command: sudo apt install dnsutils

      # run tests!
      - run:
          name: Build the project and run tests
          command: ./gradlew clean build

      - store_test_results:
          path: build/junit/test/
      - store_artifacts:
          destination: gradle-test-reports
          path: build/html
      - save_cache:
          when: always
          paths:
            - ~/.m2
            - ~/.gradle
          key: v3-dependencies-{{ checksum "build.gradle" }}

      - run:
          name: Upload test coverage reports
          command: bash <(curl -s https://codecov.io/bash)

      - run:
          name: Upload artifacts to maven repository
          command: |
            echo "CIRCLE_PR_USERNAME: '$CIRCLE_PR_USERNAME'"
            echo "CIRCLE_TAG:         '$CIRCLE_TAG'"
            if [ -z "$CIRCLE_PR_USERNAME" -a -z "$CIRCLE_TAG" ]; then
              ./gradlew eureka-dns-server:publish
            fi

      # setup remote docker
      - setup_remote_docker:

      # login to docker hub
      - run:
          name: Docker hub login
          command: |
            if [ -z "$CIRCLE_PR_USERNAME" ]; then
              docker login -u "$DOCKER_USER" -p "$DOCKER_PASS"
            fi

      # build and push docker image
      - run:
          name: Build and push docker image
          command: |
            if [ -z "$CIRCLE_PR_USERNAME" ]; then
              ./gradlew eureka-dns-server-standalone:{docker,dockerPush}
            fi

# vim:shiftwidth=2 softtabstop=2 expandtab
# EOF